@charset "UTF-8";
/*main section*/
.header a {
  font-family: "Arial MT";
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.header-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.header-top__contacts, .header-top__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

@media (max-width: 992px) {
  .header-top__contacts, .header-top__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .header-top__contacts, .header-top__buttons {
    margin-right: 10px;
  }
}

@media (max-width: 380px) {
  .header-top__contacts, .header-top__buttons {
    margin-right: 3px;
  }
}

@media (max-width: 576px) {
  .header-top__contacts a, .header-top__buttons a {
    font-size: 12px;
  }
}

.header-top__buttons {
  margin-right: 0;
}

@media (max-width: 992px) {
  .header-top__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header-top .header-phone {
  margin-right: 20px;
}

@media (max-width: 992px) {
  .header-top .header-phone {
    margin-left: 0;
  }
}

.header-top .full {
  margin-right: 20px;
}

.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-top .logo {
  background: url(../img/main/logo_header.png) no-repeat center;
  width: 48px;
  height: 32px;
  background-size: cover;
  margin-left: 0;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .header-top .logo {
    margin-right: 5px;
  }
}

.header-top .bt_widget-vi-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .bt_widget-vi-on img {
  margin-right: 20px;
}

.header .menu-cover {
  position: absolute;
  top: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  width: 25px;
  height: 20px;
}

.header .menu-cover:hover {
  cursor: pointer;
}

.header .menu-cover .menu {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 2px;
  background-color: #212429;
}

@media (min-width: 991px) {
  .header .menu-cover .menu {
    display: none;
  }
}

.header .menu-cover .menu:hover {
  cursor: pointer;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.header .menu-cover .menu::before, .header .menu-cover .menu::after {
  position: absolute;
  content: '';
  width: 23px;
  height: 2px;
  background-color: #212429;
}

.header .menu-cover .menu::before {
  top: -5px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.header .menu-cover .menu::after {
  top: 5px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.header .menu-cover .menu.open {
  top: 25%;
  height: 0;
}

.header .menu-cover .menu.open::after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.header .menu-cover .menu.open::before {
  top: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.header-bottom {
  height: 70px;
  background: #aee0f5;
}

@media (max-width: 992px) {
  .header-bottom {
    position: absolute;
    width: 100%;
    z-index: 6;
    height: auto;
    background: #aee0f5;
  }
}

.header-bottom .container {
  height: 100%;
}

@media (max-width: 992px) {
  .header-bottom .hidden {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header-bottom .hidden-992 {
    display: none;
  }
}

.header-bottom ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 992px) {
  .header-bottom ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-bottom ul li {
  position: relative;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  height: 100%;
}

@media (max-width: 992px) {
  .header-bottom ul li {
    min-height: 50px;
    width: 100%;
    padding: 20px;
  }
}

.header-bottom ul li ul.sub-menu {
  position: absolute;
  top: 70px;
  background: #aee0f5;
  height: auto;
}

@media (max-width: 992px) {
  .header-bottom ul li ul.sub-menu {
    display: none;
  }
}

.header-bottom ul li ul.sub-menu li {
  height: 70px;
}

@media (max-width: 992px) {
  .header-bottom ul li ul.sub-menu li {
    display: none;
  }
}

.header-bottom ul li a {
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.41px;
  font-size: 15px;
  font-weight: 700;
}

@media (max-width: 992px) {
  .header-bottom ul li a {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .header-bottom ul li:first-child {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .header-bottom ul li:nth-child(7n) {
    margin-right: 0;
    padding-right: 0;
  }
}

.header-bottom ul li:hover {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.26);
  background-color: #ffffff;
  cursor: pointer;
}

.header-bottom ul li:hover a {
  color: #000000;
}

.header-bottom ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
  background: #aee0f5;
  margin-left: -12px;
  z-index: 9;
}

.header-bottom ul li:hover > ul,
.header-bottom ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.header-bottom ul li ul li {
  clear: both;
  width: 100%;
}

.main-slider .slick-dots {
  bottom: 10px;
}

@media (max-width: 576px) {
  .main-slider .main-slider .slick-dots li button:before, .main-slider .main-slider .slick-dots li.slick-active button:before {
    font-size: 14px;
  }
}

.main-slider .slick-next {
  right: 30px;
}

.main-slider .slick-prev {
  left: 20px;
  z-index: 5;
}

.main-slider .slick-prev:before, .main-slider .slick-next:before {
  font-size: 32px;
  color: black;
  opacity: 1;
}

.main-slider .slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 525px;
  height: auto;
  z-index: 2;
}

.main-slider .slide::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media (min-width: 768px) {
  .main-slider .slide::before {
    display: none;
  }
}

.main-slider .slide .container {
  z-index: 5;
}

.main-slider .slide .backdrop {
  max-width: 1005px;
  min-height: 331px;
  background: url(../img/main/backdrop.png) no-repeat center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: contain;
}

@media (max-width: 768px) {
  .main-slider .slide .backdrop {
    background: transparent;
  }
}

.main-slider .slide .heading {
  opacity: 0.8;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  letter-spacing: 0.94px;
  text-align: center;
}

@media (min-width: 768px) {
  .main-slider .slide .heading {
    font-size: 25px;
    line-height: unset;
  }
}

@media (max-width: 576px) {
  .main-slider .slide .heading {
    font-size: 22px;
  }
}

.main .logo, .main-wrap .logo {
  width: 144px;
  height: 94px;
  margin-bottom: 25px;
}

@media (max-width: 576px) {
  .main .logo, .main-wrap .logo {
    width: 80px;
    height: auto;
  }
}

.section-about {
  padding-top: 54px;
}

.section-about_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .section-about_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-about__img {
  margin-right: 50px;
}

@media (max-width: 992px) {
  .section-about__img {
    margin-right: 0;
    width: 100%;
  }
}

.section-about__img img {
  width: 503px;
}

@media (max-width: 992px) {
  .section-about__img img {
    width: 100%;
  }
}

.section-about__text {
  position: relative;
}

.section-about_heading {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1.08px;
  margin-bottom: 35px;
  margin-top: 35px;
}

@media (max-width: 992px) {
  .section-about_heading {
    text-align: center;
  }
}

.section-about_descr p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: justify;
}

.section-about .about-button {
  margin-top: 50px;
}

@media (max-width: 992px) {
  .section-about .about-button {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
  }
}

.section-gallery, .section-vr, .section-contacts {
  padding-top: 54px;
}

.section-gallery {
  padding-bottom: 100px;
  padding-top: 150px;
}

.section-gallery .gallery-heading {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 55px;
}

@media (max-width: 576px) {
  .section-gallery .gallery-heading {
    font-size: 30px;
  }
}

.section-gallery .gallery-slider {
  position: relative;
}

@media (max-width: 480px) {
  .section-gallery .gallery-slider .slick-prev {
    left: 10px;
    opacity: 1;
    z-index: 5;
  }
}

.section-gallery .gallery-slider .slick-next {
  right: -10px;
}

@media (max-width: 480px) {
  .section-gallery .gallery-slider .slick-next {
    right: 20px;
    opacity: 1;
  }
}

.section-gallery .gallery-slider .slick-slide {
  display: block;
  height: auto;
}

.section-gallery .gallery-slider img {
  height: 324px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
}

.section-gallery .gallery-all {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.section-gallery .slick-prev:before, .section-gallery .slick-next:before {
  font-size: 32px;
  color: #aee0f5;
}

.section-vr {
  height: 748px;
  background: #aee0f5;
  padding-bottom: 55px;
}

.section-vr .section-heading {
  opacity: 0.8;
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 576px) {
  .section-vr .section-heading {
    font-size: 30px;
  }
}

.section-vr iframe {
  min-height: 548px;
}

.section-contacts {
  background: #eed1df;
}

.section-contacts .section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 327px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .section-contacts .section-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .section-contacts .section-info_logo {
    margin-bottom: 35px;
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .section-contacts .section-info_logo {
    margin-left: auto;
    margin-right: auto;
  }
}

.section-contacts .section-info_logo img {
  width: 100%;
}

@media (max-width: 768px) {
  .section-contacts .section-info_logo img {
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .section-contacts .section-info_contacts {
    margin-bottom: 35px;
    margin-left: 15px;
  }
}

@media (max-width: 400px) {
  .section-contacts .section-info_contacts {
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  .section-contacts .section-info_time {
    margin-bottom: 35px;
    margin-right: 15px;
  }
}

@media (max-width: 400px) {
  .section-contacts .section-info_time {
    margin-left: 15px;
  }
}

.section-contacts .heading {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.54px;
  margin-bottom: 40px;
}

.section-contacts .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-contacts .item img {
  margin-right: 20px;
  margin-left: 0;
  margin-bottom: 25px;
}

.section-contacts .item p {
  margin-left: 0;
}

.section-contacts .item .item-numbers {
  margin-left: 0;
}

.section-contacts .button-contacts {
  width: 210px;
  height: 46px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.19);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.19);
  border: 1px solid #ffffff;
  background-color: #ffffff;
  opacity: 0.8;
  margin-top: 0px;
}

.footer {
  height: 55px;
}

.footer .container {
  height: 100%;
}

.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer .footer-links p {
  margin-left: 0;
}

.footer .footer-links_social {
  margin-right: 0;
}

.footer .footer-links_social .inst {
  margin-right: 22px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
}

.main-slider .slick-dots li button:before, .main-slider .slick-dots li.slick-active button:before {
  font-size: 20px;
  color: #aee0f5;
}

.gallery-slider .slick-dots li button:before, .gallery-slider .slick-dots li.slick-active button:before {
  font-size: 20px;
  color: #edcfde;
}

.wp-block-cover__main-cover, .wp-block-cover, .wp-block-cover-image {
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1201px) {
  .wp-block-cover__main-cover, .wp-block-cover, .wp-block-cover-image {
    background-position-y: -50px;
  }
}

@media (max-width: 1200px) {
  .wp-block-cover__main-cover, .wp-block-cover, .wp-block-cover-image {
    background-position-y: -10px;
  }
}

@media (max-width: 1090px) {
  .wp-block-cover__main-cover, .wp-block-cover, .wp-block-cover-image {
    background-position-y: 0px;
  }
}

.programm-main {
  position: relative;
  background: url(../img/programm/main-bg.png) no-repeat center;
  background-size: cover;
  min-height: 471px;
  z-index: 0;
  padding-top: 60px;
}

.programm-main::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
  margin-top: -60px;
}

.programm-main .main-wrap .logo {
  height: 94px;
  background: url(../img/programm/main-logo.png) no-repeat center;
  background-size: contain;
}

.main-heading, .wp-block-cover-text {
  color: #ffffff;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 1.89px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 55px;
}

@media (max-width: 768px) {
  .main-heading, .wp-block-cover-text {
    font-size: 55px;
  }
}

@media (max-width: 576px) {
  .main-heading, .wp-block-cover-text {
    font-size: 40px;
  }
}

.main-descr {
  color: #ffffff;
  font-size: 23px;
  text-align: center;
}

@media (max-width: 576px) {
  .main-descr {
    font-size: 20px;
  }
}

.main-author {
  opacity: 0.6;
  color: #ffffff;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0.62px;
  text-align: right;
  padding-right: 110px;
}

@media (max-width: 576px) {
  .main-author {
    font-size: 20px;
    padding-right: 0;
  }
}

.programms .section-heading {
  letter-spacing: 1.08px;
  color: #000000;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}

.programms-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
}

@media (max-width: 992px) {
  .programms-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.programms-wrap .programm {
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px;
  min-height: 673px;
  max-width: 525px;
}

@media (max-width: 576px) {
  .programms-wrap .programm {
    padding-top: 20px;
  }
}

.programms-wrap .programm-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .programms-wrap .programm-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.programms-wrap .programm-info_class {
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 0.81px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

@media (max-width: 576px) {
  .programms-wrap .programm-info_class {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}

.programms-wrap .programm-info_age {
  font-size: 30px;
  letter-spacing: 0.81px;
  color: #ffffff;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .programms-wrap .programm-info_age {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}

.programms-wrap .programm-heading {
  height: 59px;
  width: 239px;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  margin-left: 0;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .programms-wrap .programm-heading {
    margin-bottom: 10px;
    width: 190px;
  }
}

.programms-wrap .programm-text {
  padding: 20px;
  font-size: 14px;
  margin-bottom: 35px;
}

.programms-wrap .programm1 .programm-heading, .programms-wrap .programm2 .programm-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: #aee0f5;
  text-align: center;
}

@media (max-width: 576px) {
  .programms-wrap .programm1 .programm-heading, .programms-wrap .programm2 .programm-heading {
    font-size: 30px;
  }
}

.programms-wrap .programm2 .programm-heading {
  color: #edcfde;
}

.programms-wrap .programm1 {
  margin-right: 30px;
  background: #aee0f5;
}

@media (max-width: 992px) {
  .programms-wrap .programm1 {
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.programms-wrap .programm2 {
  background: #edcfde;
}

.programms-wrap .programm-button1, .programms-wrap .programm-button2 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 210px;
  height: 46px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #aee0f5;
  margin-left: auto;
  margin-right: auto;
  bottom: 5%;
}

.programms-wrap .programm-button2 {
  color: #edcfde;
}

.section-contacts_programms {
  background: #8abe84;
}

.section-teachers {
  padding-top: 56px;
}

.section-teachers__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .section-teachers__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-teachers__info img {
  width: 570px;
  height: 380px;
  margin-right: 30px;
}

@media (max-width: 992px) {
  .section-teachers__info img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
}

.section-teachers__text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.54px;
  text-align: justify;
}

.section-teachers .teachers-photos_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-teachers .teachers-heading {
  height: 140px;
  background: #aee0f5;
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1.08px;
  line-height: 140px;
  text-align: center;
  margin-bottom: 55px;
}

@media (max-width: 576px) {
  .section-teachers .teachers-heading {
    font-size: 20px;
  }
}

.section-teachers .teacher {
  height: 400px;
  width: 262px;
  -webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 43px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.section-teachers .teacher .photo img {
  width: 262px;
  height: 318px;
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-teachers .teacher .name {
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
}

.section-teachers .teacher .position {
  font-size: 14px;
  padding-left: 10px;
}

.section-events {
  position: relative;
  padding-top: 66px;
  padding-bottom: 66px;
  background: url("../img/calendar/cal-bg.png") no-repeat center;
  background-size: cover;
  min-height: 550px;
  z-index: 0;
}

.section-events::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -2;
  margin-top: -66px;
}

.event-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .event-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.event-wrap .event {
  margin-right: 65px;
  width: 65%;
}

@media (max-width: 992px) {
  .event-wrap .event {
    margin-right: 0;
    width: 100%;
  }
}

.event-wrap .event-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

.event-wrap .event-heading__date, .event-wrap .event-heading__name {
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0.54px;
  font-weight: 600;
  margin-left: 0;
}

.event-wrap .event-heading__date {
  margin-right: 35px;
}

.event-wrap .event-text {
  color: #ffffff;
  text-align: justify;
  font-size: 14px;
}

.event-wrap .event-text p {
  margin-bottom: 20px;
}

.calendar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 25px;
  width: 35%;
}

@media (max-width: 992px) {
  .calendar-wrap {
    width: 100%;
  }
}

.calendar-wrap .calendar {
  max-width: 364px;
  min-width: 270px;
  height: 332px;
  margin-top: 0;
  background: url("../img/calendar/cal.png") no-repeat center;
  background-size: contain;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

@media (max-width: 992px) {
  .calendar-wrap .calendar {
    width: 100%;
  }
}

.calendar-wrap .calendar-button {
  max-width: 290px;
  min-width: 270px;
  height: 46px;
  margin-top: 20px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

.calendar-wrap .calendar-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.calendar-wrap .year-plan {
  color: #aee0f5;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
}

.terms-section .terms-heading {
  padding: 55px 0;
  font-size: 40px;
  font-weight: 600;
}

@media (max-width: 576px) {
  .terms-section .terms-heading {
    font-size: 29px;
    text-align: center;
  }
}

.terms-section .terms-text {
  padding: 30px 65px;
  text-align: justify;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 -50px;
}

@media (max-width: 576px) {
  .terms-section .terms-text {
    padding: 10px;
    margin: 0 auto;
  }
}

.terms-section .terms-text p {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

@media (max-width: 576px) {
  .terms-section .terms-text p {
    font-weight: 400;
  }
}

.terms-section .reviews-heading {
  margin: 20px 0;
  padding: 35px 0;
  text-align: center;
  background: #aee0f5;
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
}

.terms-section .reviews .review {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1004px;
  padding-bottom: 25px;
}

@media (max-width: 576px) {
  .terms-section .reviews .review {
    padding-left: 25px;
  }
}

.terms-section .reviews .review-img {
  width: 151px !important;
  background-image: url("../img/terms/logo-gold.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 0;
  margin-right: 25px;
  margin-bottom: -25px;
}

@media (max-width: 576px) {
  .terms-section .reviews .review-img {
    display: none;
  }
}

.terms-section .reviews .review-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding-right: 40px;
  max-width: 774px;
}

.terms-section .reviews .review-text__name {
  margin-left: 0;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
}

.terms-section .reviews .review-text__date {
  margin-left: 0;
  margin-top: 14px;
  font-size: 18px;
}

.terms-section .reviews .review-text__descr {
  margin-left: 0;
  font-size: 15px;
  margin-top: 25px;
}

.section-grads .grads-heading {
  padding: 55px 0;
  font-size: 40px;
  font-weight: 600;
}

.section-grads .grads-list_heading {
  font-size: 22px;
  margin-bottom: 20px !important;
}

@media (max-width: 576px) {
  .section-grads .grads-list_heading {
    font-size: 16px;
    text-align: center;
  }
}

.section-grads .grads-list_heading::before {
  display: none;
}

.section-grads .grads-list div {
  position: relative;
  margin-bottom: 10px;
}

.section-grads .grads-list div::before {
  position: absolute;
  content: "•";
  color: #aee0f5;
  font-size: 20px;
  margin-left: -20px;
}

.section-grads .grads-list div:last-child {
  margin-bottom: 50px;
}

.section-grads .grads-videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .section-grads .grads-videos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-grads .grads-videos iframe {
  margin-bottom: 50px;
}

@media (max-width: 576px) {
  .section-grads .grads-videos iframe {
    width: 100%;
  }
}

.section-grads .grads-videos iframe:first-child {
  margin-right: 25px;
}

.structure {
  text-align: justify;
}

.primary {
  padding-left: 0;
}

.primary > li {
  list-style: none !important;
  margin-top: 10px;
}

.primary > ul > li {
  list-style: disc;
}

ol > li {
  list-style: decimal !important;
}

.heading {
  margin: 30px 0;
}

.main-subheading {
  text-align: center;
  margin-bottom: 25px;
}

.main-heading {
  margin: 45px 0 25px 0;
  text-align: center;
}

table td {
  padding: 5px;
  border: 2px solid #aee0f5;
  margin-bottom: 5px;
}

table td tr {
  margin-bottom: 5px;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.documents-wrap .description, .document .description {
  margin-left: 20px;
  color: #000000;
}

.documents-wrap .description a, .document .description a {
  color: #000000;
}

.documents-wrap .document, .document {
  margin-bottom: 30px;
}

.documents-wrap .img, .document .img, .wp-block-media-text__media {
  width: 70px;
  margin: 0;
}

.tag-cloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tag-cloud a {
  display: block;
  padding: 5px;
  border: 2px solid #aee0f5;
  color: #000000;
  text-decoration: none;
  margin: 5px 5px;
}

.tag-cloud a:hover {
  border: 2px solid transparent;
  background-color: #8abe84;
  color: #ffffff;
}

.li-none {
  list-style: none !important;
}

.new-line {
  margin-left: 50px;
}

.presentation p {
  margin: 20px 0;
}

.tac {
  text-align: center;
  margin: 15px;
  font-weight: 700;
}

.tac300 {
  font-weight: 300;
}

.inner-section {
  padding: 70px 20px;
}

.inner-section p {
  margin: 15px;
}

.teacher-info p {
  padding: 7px;
}

.teacher-info p:not(:first-child) {
  margin-left: 50px;
}

.teacher-info p:first-child {
  font-weight: 700;
}

th {
  border: 1px solid black;
  background: darkgrey;
  padding: 10px;
}

.material-table table td {
  border: 1px solid black;
}

.page-id-42 .main-heading {
  font-size: 50px;
}

.bbn {
  border-bottom: 0px solid black !important;
}

.btopn {
  border-top: 0px solid black !important;
}

.siteMap h2 {
  margin: 30px 0 30px;
}

.pl-0 {
  padding-left: 0;
}

@media (max-width: 992px) {
  .programm-main .main-wrap h1.main-heading {
    font-size: 55px;
  }
}

@media (max-width: 768px) {
  .programm-main .main-wrap h1.main-heading {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .programm-main .main-wrap h1.main-heading {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .programm-main .main-wrap h1.main-heading {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .education-heading {
    font-size: 30px !important;
  }
}

@media (min-width: 767px) {
  .table-mobile {
    display: none;
  }
}

.table-mobile .table-p, .table-mobile .table-a {
  display: block;
  max-width: 100%;
  margin: 5px;
  border: 2px solid #aee0f5;
  padding: 5px;
}

.teacher-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .teacher-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.teacher-info__text {
  margin-left: 0;
}

.teacher-info img {
  width: 230px;
  height: 300px;
  padding: 10px;
  margin: 15px 10px 0 0;
}

.inner-section.documents-section {
  max-width: 600px;
  padding-top: 20px;
}

.inner-section.documents-section .wp-block-media-text__content {
  margin-left: 0;
  padding-left: 0;
}

.inner-section.documents-section h2 {
  margin: 25px;
}

.section-edustandards table tbody tr td {
  padding: 20px;
}

@media (max-width: 480px) {
  .section-edustandards table tbody tr td {
    padding: 10px;
    word-wrap: break-word;
    font-size: small;
  }
}

.section-heading, .wp-block-cover-text {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

.page-id-30 .wp-block-cover-text {
  font-size: 40px;
  text-transform: uppercase;
}

.page-id-35 .wp-block-media-text {
  max-width: 500px;
  margin: 15px;
}

.page-id-35 .has-medium-font-size {
  margin: 15px;
  font-size: 24px;
}

.menu-header-menu-english-container, .menu-header-menu-container {
  height: 100%;
}

select#lang_choice_1 {
  background: transparent;
  border: transparent;
}

.select-wrap, select#lang_choice_1 option {
  position: relative;
}

.select-wrap::before, select#lang_choice_1 option::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background: url("http://localhost/montessoriwp/wp-content/uploads/2018/12/ru_RU.png") no-repeat center;
  background-size: contain;
  top: 0;
  left: -20px;
}

* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial;
}

body {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.button {
  width: 210px;
  height: 46px;
  border: 1px solid #000000;
  opacity: 0.8;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 70px;
}

.button:hover {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.breadcrumbs li {
  position: relative;
  list-style: none;
  margin-left: 10px;
  margin-right: 25px;
}

.breadcrumbs li:first-child::after, .breadcrumbs li:nth-child(2n)::after {
  position: absolute;
  content: '>';
  right: -23px;
}

.structure {
  text-align: justify;
}

.primary li {
  list-style: none;
  margin-top: 10px;
}

.primary ul li {
  list-style: disc;
}

.heading {
  margin: 30px 0;
}

.main-subheading {
  text-align: center;
  margin-bottom: 25px;
}

.main-heading {
  margin: 45px 0 25px 0;
  text-align: center;
}

table td {
  padding: 5px;
  border: solid #aee0f5 2px;
  margin-bottom: 5px;
}

table td tr {
  margin-bottom: 5px;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.documents-wrap .description {
  margin-left: 20px;
  color: #000000;
}

.documents-wrap .document {
  margin-bottom: 30px;
}

.documents-wrap .img {
  width: 70px;
  margin: 0;
}

.tag-cloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tag-cloud a {
  display: block;
  padding: 5px;
  border: 2px solid #aee0f5;
  color: #000000;
  text-decoration: none;
  margin: 5px 5px;
}

.tag-cloud a:hover {
  border: 2px solid transparent;
  background-color: #8abe84;
  color: #ffffff;
}

@media (max-width: 576px) {
  .hidden-xs {
    display: none;
  }
}

@media (max-width: 768px) {
  .hidden-tb {
    display: none;
  }
}

@media (max-width: 992px) {
  .hidden-md {
    display: none;
  }
}

@media (max-width: 1200px) {
  .hidden-lg {
    display: none;
  }
}

@media (min-width: 1201px) {
  .hidden-xl {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */