/*main section*/
.header a {
  font-family: "Arial MT";
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-top .logo {
  background: url(../img/main/logo_header.png) no-repeat center;
  width: 48px;
  height: 32px;
  background-size: cover;
  margin-left: 0;
}

.header-bottom {
  height: 70px;
  background: #aee0f5;
}

.header-bottom .container {
  height: 100%;
}

.header-bottom ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  text-align: center;
}

.header-bottom ul li {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header-bottom ul li a {
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.41px;
  font-size: 15px;
  font-weight: 700;
  line-height: 70px;
}

.header-bottom ul li:first-child {
  margin-left: 0;
}

.header-bottom ul li:nth-child(6n) {
  margin-right: 0;
}

.header-bottom ul li:hover {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.26);
  background-color: #ffffff;
  cursor: pointer;
}

.header-bottom ul li:hover a {
  color: #000000;
}

.header-bottom ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 1rem;
  display: none;
  background: #aee0f5;
}

.header-bottom ul li:hover > ul,
.header-bottom ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.header-bottom ul li ul li {
  clear: both;
  width: 100%;
}

.main-slider .slick-next {
  right: 20px;
}

.main-slider .slick-prev {
  left: 20px;
  z-index: 5;
}

.main-slider .slick-prev:before, .main-slider .slick-next:before {
  font-size: 32px;
  color: black;
  opacity: 1;
}

.main-slider .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/main/main-bg.png) no-repeat center;
  background-size: cover;
  min-height: 525px;
}

.main-slider .slide .backdrop {
  max-width: 1005px;
  min-height: 331px;
  background: url(../img/main/backdrop.png) no-repeat center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slider .slide .heading {
  opacity: 0.8;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  letter-spacing: 0.94px;
  text-align: center;
}

.main-slider .slide .logo {
  width: 144px;
  height: 94px;
  margin-bottom: 25px;
}

.section-about {
  padding-top: 54px;
}

.section-about__img {
  margin-right: 50px;
}

.section-about_heading {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1.08px;
  margin-bottom: 35px;
  margin-top: 35px;
}

.section-about_descr p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.section-gallery, .section-vr, .section-contacts {
  padding-top: 54px;
}

.section-gallery {
  padding-bottom: 100px;
}

.section-gallery .gallery-heading {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 55px;
}

.section-gallery .gallery-slider {
  position: relative;
}

.section-gallery .gallery-slider img {
  height: 324px;
  width: 324px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-gallery .gallery-all {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.section-gallery .slick-prev:before, .section-gallery .slick-next:before {
  font-size: 32px;
  color: #aee0f5;
}

.section-vr {
  height: 748px;
  background: #aee0f5;
  padding-bottom: 55px;
}

.section-vr .section-heading {
  opacity: 0.8;
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 60px;
}

.section-vr iframe {
  min-height: 548px;
}

.section-contacts {
  background: #eed1df;
}

.section-contacts .section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 327px;
  color: #ffffff;
}

.section-contacts .heading {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.54px;
  margin-bottom: 40px;
}

.section-contacts .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-contacts .item img {
  margin-right: 20px;
  margin-left: 0;
  margin-bottom: 25px;
}

.section-contacts .item p {
  margin-left: 0;
}

.section-contacts .item .item-numbers {
  margin-left: 0;
}

.section-contacts .button-contacts {
  width: 210px;
  height: 46px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.19);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.19);
  border: 1px solid #ffffff;
  background-color: #ffffff;
  opacity: 0.8;
  margin-top: 0px;
}

.footer {
  height: 55px;
}

.footer .container {
  height: 100%;
}

.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer .footer-links p {
  margin-left: 0;
}

.footer .footer-links_social {
  margin-right: 0;
}

.footer .footer-links_social .inst {
  margin-right: 22px;
}

.programm-main {
  position: relative;
  background: url(../img/programm/main-bg.png) no-repeat center;
  background-size: cover;
  min-height: 471px;
  z-index: 0;
  padding-top: 60px;
}

.programm-main::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
  margin-top: -60px;
}

.programm-main .main-wrap .logo {
  width: 144px;
  height: 94px;
  background: url(../img/programm/main-logo.png) no-repeat center;
  background-size: contain;
}

.programm-main .main-wrap .main-heading {
  color: #ffffff;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 1.89px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 55px;
}

.programm-main .main-wrap .main-descr {
  color: #ffffff;
  font-size: 23px;
  text-align: center;
}

.programm-main .main-wrap .main-author {
  opacity: 0.6;
  color: #ffffff;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0.62px;
  text-align: right;
  padding-right: 110px;
}

.programms .section-heading {
  letter-spacing: 1.08px;
  color: #000000;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}

.programms-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
}

@media (max-width: 992px) {
  .programms-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.programms-wrap .programm {
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px;
  min-height: 673px;
}

.programms-wrap .programm-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.programms-wrap .programm-info_class {
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 0.81px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

.programms-wrap .programm-info_age {
  font-size: 30px;
  letter-spacing: 0.81px;
  color: #ffffff;
  margin-right: 20px;
}

.programms-wrap .programm-heading {
  height: 59px;
  width: 239px;
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  margin-left: 0;
  margin-bottom: 40px;
}

.programms-wrap .programm-text {
  padding: 20px;
  font-size: 14px;
  margin-bottom: 35px;
}

.programms-wrap .programm1 .programm-heading, .programms-wrap .programm2 .programm-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: #aee0f5;
  text-align: center;
}

.programms-wrap .programm2 .programm-heading {
  color: #edcfde;
}

.programms-wrap .programm1 {
  margin-right: 30px;
  background: #aee0f5;
}

@media (max-width: 992px) {
  .programms-wrap .programm1 {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.programms-wrap .programm2 {
  background: #edcfde;
}

.programms-wrap .programm-button1, .programms-wrap .programm-button2 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20px;
  width: 210px;
  height: 46px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #aee0f5;
  margin-left: auto;
  margin-right: auto;
}

.programms-wrap .programm-button2 {
  color: #edcfde;
}

.section-contacts_programms {
  background: #c6e3c3;
}

.section-teachers {
  padding-top: 56px;
}

.section-teachers__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .section-teachers__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-teachers__info img {
  width: 570px;
  height: 380px;
  margin-right: 30px;
}

@media (max-width: 992px) {
  .section-teachers__info img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
}

.section-teachers__text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.54px;
  text-align: justify;
}

.section-teachers .teachers-photos_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-teachers .teachers-heading {
  height: 140px;
  background: #aee0f5;
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1.08px;
  line-height: 140px;
  text-align: center;
  margin-bottom: 55px;
}

.section-teachers .teacher {
  height: 400px;
  width: 262px;
  -webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 43px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.section-teachers .teacher .photo img {
  width: 262px;
  height: 318px;
  margin-bottom: 15px;
}

.section-teachers .teacher .name {
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
}

.section-teachers .teacher .position {
  font-size: 14px;
  padding-left: 10px;
}

* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.button {
  width: 210px;
  height: 46px;
  border: 1px solid #000000;
  opacity: 0.8;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 70px;
}

.button:hover {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
/*# sourceMappingURL=style.css.map */