/*main section*/
.header
  a
    font-family: "Arial MT"
    font-size: 18px
    color: #000000
    text-decoration: none

  &-top
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    height: 70px
    &__contacts, &__buttons
      display: flex
      margin-left: 0
      @media (max-width: 992px)
        flex-direction: column
      @media (max-width: 576px)
        margin-right: 10px
      @media (max-width: 380px)
        margin-right: 3px
      a
        @media (max-width: 576px)
          font-size: 12px
    &__si
      @media (min-width: 991px)
        display: none
      @media (max-width: 576px)
        margin-left: 0
      a
        img
          width: 30px
          height: 30px

    &__buttons
      margin-right: 0
    .header-phone
      margin-right: 20px
      @media (max-width: 992px)
        margin-left: 0
    .full
      margin-right: 20px
    .container  
      display: flex
      align-items: center
      height: 100%
    .logo
      background: url(../img/main/logo_header.png) no-repeat center
      width: 48px
      height: 32px
      background-size: cover
      margin-left: 0
      margin-right: 20px
      @media (max-width: 576px)
        margin-right: 5px

  .menu-cover
    position: absolute
    top: 48%
    transform: translateY(-50%)
    right: 20px
    width: 25px
    height: 20px
    &:hover
      cursor: pointer
    .menu
      position: relative
      top: 50%
      transform: translateY(-50%)
      display: block
      width: 18px
      height: 2px
      background-color: #212429
      @media (min-width: 991px)
        display: none
      &:hover
        cursor: pointer
        transform: rotateY(360deg)
        transition: .5s
      &::before, &::after
        position: absolute
        content: ''
        width: 23px
        height: 2px
        background-color: #212429
      &::before
        top: -5px
        transform: rotate(0deg)
        transition: .5s
      &::after
        top: 5px
        transform: rotate(0deg)
        transition: .5s
    .menu.open
      top: 25%
      height: 0
      &::after
        top: 0
        transform: rotate(45deg)
        transition: .5s
      &::before
        top: 2px
        transform: rotate(-45deg)
        transition: .5s
  &-bottom
    height: 70px
    background: $main-blue
    @media (max-width: 992px)
      position: absolute
      width: 100%
      z-index: 6
      height: auto
      background: rgba(174, 224, 245, 1)
    .container  
      height: 100%
    .hidden
      @media (max-width: 992px)
        display: none
    .hidden-992
      @media (min-width: 768px) and (max-width: 992px)
        display: none
    ul
      height: 100%
      display: flex
      justify-content: space-between
      align-items: center
      padding-left: 0
      text-align: center
      transition: .5s
      @media (max-width: 992px)
        flex-direction: column
      li
        position: relative
        list-style: none
        padding-left: 10px
        padding-right: 10px
        display: flex
        align-items: center
        transition: .5s
        transition-duration: 0.5s
        height: 100%
        @media (max-width: 992px)
          min-height: 50px
          width: 100%
          padding: 20px
        ul.sub-menu
          position: absolute
          top: 70px
          background: $main-blue
          height: auto
          @media (max-width: 992px)
            display: none
          li
            height: 70px
            @media (max-width: 992px)
              display: none
        a
          display: block
          text-transform: uppercase
          color: #ffffff
          letter-spacing: 0.41px
          font-size: 15px
          font-weight: 700
          @media (max-width: 992px)
            font-size: 20px
          
      li:first-child
        @media (min-width: 992px)
          margin-left: 0
      li:nth-child(7n)
        @media (min-width: 992px)
          margin-right: 0
          padding-right: 0
      li:hover
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.26)
        background-color: #ffffff
        cursor: pointer
        a
          color: #000000
    ul li ul 
      visibility: hidden
      opacity: 0
      position: absolute
      transition: all 0.5s ease
      display: none
      background: $main-blue
      margin-left: -12px
      z-index: 9
    ul li:hover > ul,
    ul li ul:hover 
      visibility: visible
      opacity: 1
      display: block
    ul li ul li 
      clear: both
      width: 100%
.main-slider
  .slick-dots
    bottom: 10px
  .main-slider .slick-dots li button:before, .main-slider .slick-dots li.slick-active button:before 
    @media (max-width: 576px)
      font-size: 14px
  .slick-next
    right: 30px
  .slick-prev
    left: 20px
    z-index: 5
  .slick-prev:before, .slick-next:before
    font-size: 32px
    color: black
    opacity: 1
  .slide
    position: relative
    display: flex
    align-items: center
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    min-height: 525px
    height: auto
    z-index: 2

    &::before
      position: absolute
      content: ''
      width: 100%
      height: 100%
      background: rgba(0,0,0,.5)
      z-index: 1
      @media (min-width: 768px)
        display: none
    .container  
      z-index: 5
    .backdrop
      max-width: 1005px
      min-height: 331px
      background: url(../img/main/backdrop.png) no-repeat center
      display: flex
      flex-direction: column
      justify-content: center
      background-size: contain
      @media (max-width: 768px)
        background: transparent 
    .heading
      opacity: 0.8
      color: #ffffff
      font-size: 35px
      font-weight: 700
      line-height: 56px
      text-transform: uppercase
      letter-spacing: 0.94px
      text-align: center
      @media (min-width: 768px)
        font-size: 25px
        line-height: unset
      @media (max-width: 576px)
        font-size: 22px
.main .logo, .main-wrap .logo 
  width: 144px
  height: 94px
  margin-bottom: 25px
  @media (max-width: 576px)
    width: 80px
    height: auto

.section-about
  padding-top: 54px
  &_wrap
    display: flex
    @media (max-width: 992px)
      flex-direction: column
  &__img
    margin-right: 50px
    @media (max-width: 992px)
      margin-right: 0
      width: 100%
    img
      width: 503px;
      @media (max-width: 992px)
        width: 100%
  &__text
    position: relative
  &_heading
    color: #000000
    font-size: 40px
    font-weight: 400
    letter-spacing: 1.08px
    margin-bottom: 35px
    margin-top: 35px
    @media (max-width: 992px)
      text-align: center
  &_descr
    p
      font-size: 18px
      font-weight: 600
      margin-bottom: 25px
      text-align: justify
  .about-button
    margin-top: 50px
    @media (max-width: 992px)
      position: absolute
      left: 50%
      transform: translateX(-50%)
      margin-left: auto
      margin-right: auto

.section-gallery, .section-vr, .section-contacts
  padding-top: 54px
.section-gallery
  padding-bottom: 100px
  padding-top: 150px
  .gallery-heading
    font-size: 40px
    font-weight: 400
    letter-spacing: 1.08px
    text-align: center
    margin-bottom: 55px
    @media (max-width: 576px)
      font-size: 30px
  .gallery-slider
    position: relative
    .slick-prev
      @media (max-width: 480px)
        left: 10px
        opacity: 1
        z-index: 5
    .slick-next
      right: -10px
      @media (max-width: 480px)
        right: 20px
        opacity: 1
    .slick-slide
      display: block
      height: auto
    img
      height: 324px
      width: 100%
      object-fit: cover
      padding: 10px
  .gallery-all
    position: absolute
    left: 50%
    transform: translateX(-50%)
    margin-left: auto
    margin-right: auto
    margin-top: 30px
  .slick-prev:before, .slick-next:before
    font-size: 32px
    color: $main-blue
.section-vr
  height: 748px
  background: $main-blue
  padding-bottom: 55px
  .section-heading
    opacity: 0.8
    color: #ffffff
    font-size: 40px
    font-weight: 600
    letter-spacing: 1.08px
    text-align: center
    margin-bottom: 60px
    @media (max-width: 576px)
      font-size: 30px
  iframe
    min-height: 548px
.section-contacts
  background: #eed1df
  .section-info
    display: flex
    min-height: 327px
    color: #ffffff
    @media (max-width: 768px)
      flex-direction: column
    &_logo
      @media (max-width: 768px)
        margin-bottom: 35px
        margin-left: 0
      @media (max-width: 400px)
        margin-left: auto
        margin-right: auto
      img
        width: 100%
        @media (max-width: 768px)
          width: 150px
          height: 100px
    &_contacts
      @media (max-width: 768px)
        margin-bottom: 35px
        margin-left: 15px
      @media (max-width: 400px)
        margin-left: 15px
    &_time
      @media (max-width: 768px)
        margin-bottom: 35px
        margin-right: 15px
      @media (max-width: 400px)
        margin-left: 15px
  .heading
    font-size: 20px
    font-weight: 600
    text-transform: uppercase
    letter-spacing: 0.54px
    margin-bottom: 40px
  .item 
    display: flex
    img
      margin-right: 20px
      margin-left: 0
      margin-bottom: 25px
    p
      margin-left: 0
    .item-numbers
      margin-left: 0
  .button-contacts
    width: 210px
    height: 46px
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.19)
    border: 1px solid #ffffff
    background-color: #ffffff
    opacity: 0.8
    margin-top: 0px
.footer
  height: 55px
  .container
    height: 100%
  .footer-links
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%
    p
      margin-left: 0
    &_social
      margin-right: 0
      .inst
        margin-right: 22px
.slick-dots li.slick-active button:before
  opacity: 1
.main-slider .slick-dots li button:before, .main-slider .slick-dots li.slick-active button:before
  font-size: 20px
  color: $main-blue
.gallery-slider .slick-dots li button:before, .gallery-slider .slick-dots li.slick-active button:before
  font-size: 20px
  color: $main-pink

.wp-block-cover__main-cover, .wp-block-cover, .wp-block-cover-image
  background-size: cover
  background-repeat: no-repeat
  @media (min-width: 1201px)
    background-position-y: -50px
  @media (max-width: 1200px)
    background-position-y: -10px
  @media (max-width: 1090px)
    background-position-y: 0px

