/*main section*/
.header
  a
    font-family: "Arial MT"
    font-size: 18px
    color: #000000
    text-decoration: none

  &-top
    display: flex
    justify-content: space-between
    align-items: center
    height: 70px
    .container  
      display: flex
      align-items: center
      height: 100%
    .logo
      background: url(../img/main/logo_header.png) no-repeat center
      width: 48px
      height: 32px
      background-size: cover
      margin-left: 0
  &-bottom
    height: 70px
    background: $main-blue
    .container  
      height: 100%
    .hidden
      display: none
    ul
      height: 100%
      display: flex
      justify-content: space-between
      align-items: center
      padding-left: 0
      text-align: center
      li
        list-style: none
        padding-left: 10px
        padding-right: 10px
        display: block
        transition: .5s
        transition-duration: 0.5s
        a
          display: block
          text-transform: uppercase
          color: #ffffff
          letter-spacing: 0.41px
          font-size: 15px
          font-weight: 700
          line-height: 70px
      li:first-child
        margin-left: 0
      li:nth-child(6n)
        margin-right: 0
      li:hover
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.26)
        background-color: #ffffff
        cursor: pointer
        a
          color: #000000
    ul li ul 
      visibility: hidden
      opacity: 0
      position: absolute
      transition: all 0.5s ease
      display: none
      background: $main-blue
      margin-left: -12px
      z-index: 9
    ul li:hover > ul,
    ul li ul:hover 
      visibility: visible
      opacity: 1
      display: block
    ul li ul li 
      clear: both
      width: 100%
.main-slider
  .slick-next
    right: 20px
  .slick-prev
    left: 20px
    z-index: 5
  .slick-prev:before, .slick-next:before
    font-size: 32px
    color: black
    opacity: 1
  .slide1
    background: url(../img/main/main-bg1.jpg) no-repeat center
  .slide2
    background: url(../img/main/main-bg2.jpg) no-repeat center
  .slide3
    background: url(../img/main/main-bg3.jpg) no-repeat center
  .slide4
    background: url(../img/main/main-bg4.jpg) no-repeat center
  .slide
    position: relative
    display: flex
    align-items: center
    background-size: cover
    min-height: 525px
    z-index: 2
    &::before
      position: absolute
      content: ''
      width: 100%
      height: 100%
      background: rgba(0,0,0,.5)
      z-index: 1
      @media (min-width: 768px)
        display: none
    .container  
      z-index: 5
    .backdrop
      max-width: 1005px
      min-height: 331px
      background: url(../img/main/backdrop.png) no-repeat center
      display: flex
      flex-direction: column
      justify-content: center
      background-size: contain
      @media (max-width: 768px)
        background: transparent 
    .heading
      opacity: 0.8
      color: #ffffff
      font-size: 35px
      font-weight: 700
      line-height: 56px
      text-transform: uppercase
      letter-spacing: 0.94px
      text-align: center
      @media (min-width: 768px)
        font-size: 25px
        line-height: unset
    .logo
      width: 144px
      height: 94px
      margin-bottom: 25px

.section-about
  padding-top: 54px
  &_wrap
    display: flex
    @media (max-width: 992px)
      flex-direction: column
  &__img
    margin-right: 50px
    @media (max-width: 992px)
      margin-right: 0
      width: 100%
    img
      width: 503px;
      @media (max-width: 992px)
        width: 100%
  &__text
    position: relative
  &_heading
    color: #000000
    font-size: 40px
    font-weight: 400
    letter-spacing: 1.08px
    margin-bottom: 35px
    margin-top: 35px
    @media (max-width: 992px)
      text-align: center
  &_descr
    p
      font-size: 18px
      font-weight: 600
      margin-bottom: 25px
      text-align: justify
  .about-button
    margin-top: 50px
    @media (max-width: 992px)
      position: absolute
      left: 50%
      transform: translateX(-50%)
      margin-left: auto
      margin-right: auto

.section-gallery, .section-vr, .section-contacts
  padding-top: 54px
.section-gallery
  padding-bottom: 100px
  padding-top: 150px
  .gallery-heading
    font-size: 40px
    font-weight: 400
    letter-spacing: 1.08px
    text-align: center
    margin-bottom: 55px
  .gallery-slider
    position: relative
    .slick-slide
      display: block
    img
      height: 324px
      width: 100%
      object-fit: cover
      padding: 10px
  .gallery-all
    position: absolute
    left: 50%
    transform: translateX(-50%)
    margin-left: auto
    margin-right: auto
    margin-top: 30px
  .slick-prev:before, .slick-next:before
    font-size: 32px
    color: $main-blue
.section-vr
  height: 748px
  background: $main-blue
  padding-bottom: 55px
  .section-heading
    opacity: 0.8
    color: #ffffff
    font-size: 40px
    font-weight: 600
    letter-spacing: 1.08px
    text-align: center
    margin-bottom: 60px
  iframe
    min-height: 548px
.section-contacts
  background: #eed1df
  .section-info
    display: flex
    min-height: 327px
    color: #ffffff
  .heading
    font-size: 20px
    font-weight: 600
    text-transform: uppercase
    letter-spacing: 0.54px
    margin-bottom: 40px
  .item 
    display: flex
    img
      margin-right: 20px
      margin-left: 0
      margin-bottom: 25px
    p
      margin-left: 0
    .item-numbers
      margin-left: 0
  .button-contacts
    width: 210px
    height: 46px
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.19)
    border: 1px solid #ffffff
    background-color: #ffffff
    opacity: 0.8
    margin-top: 0px
.footer
  height: 55px
  .container
    height: 100%
  .footer-links
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%
    p
      margin-left: 0
    &_social
      margin-right: 0
      .inst
        margin-right: 22px
