@import 'variables'
@import 'mixin'
@import 'main'
@import 'programms'
@import 'teachers'
@import 'calendar'
@import 'terms'
@import 'contacts'

* 
  margin: 0 auto 
  box-sizing: border-box 
  font-family: Arial 
body 
  transition: all .5s 
.container 
  width: 100% 
  padding-right: 15px 
  padding-left: 15px 
  margin-right: auto 
  margin-left: auto
  @media (min-width: 576px) 
    max-width: 540px 
  @media (min-width: 768px) 
    max-width: 720px 
  @media (min-width: 992px) 
    max-width: 960px 
  @media (min-width: 1200px) 
    max-width: 1170px 
  
.button 
  width: 210px 
  height: 46px 
  border: 1px solid #000000 
  opacity: 0.8 
  background: transparent 
  font-size: 14px 
  font-weight: 600 
  text-transform: uppercase 
  margin-top: 70px 
  &:hover 
    background: #000000 
    color: #ffffff 
    cursor: pointer 
.breadcrumbs 
  display: flex 
  margin-top: 25px 
  li 
    position: relative 
    list-style: none 
    margin-left: 10px 
    margin-right: 25px 
    &:first-child::after, &:nth-child(2n)::after 
      position: absolute 
      content: '>'
      right: -23px 
.structure 
  text-align: justify 
.primary 
  li 
    list-style: none 
    margin-top: 10px 
  ul 
    li 
      list-style: disc 
.heading 
  margin: 30px 0 
.main-subheading 
  text-align: center 
  margin-bottom: 25px 
.main-heading 
  margin: 45px 0 25px 0 
  text-align: center 
table td 
  padding: 5px 
  border: solid $main-blue 2px 
  margin-bottom: 5px 
  tr 
    margin-bottom: 5px 
    
.download 
  display: flex 
  align-items: center
.documents-wrap .description
  margin-left: 20px
  color: #000000
.documents-wrap .document
  margin-bottom: 30px
.documents-wrap .img
  width: 70px
  margin: 0

.tag-cloud
  display: flex
  flex-wrap: wrap
  a
    display: block
    padding: 5px
    border: 2px solid $main-blue
    color: #000000
    text-decoration: none
    margin: 5px 5px
    &:hover
      border: 2px solid transparent
      background-color: $main-green
      color: #ffffff